
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0 auto;
}

/*Add dynamic font size to square*/

.square {
  height: 100%;
  width: 33.33%;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  cursor: crosshair;

  margin: 20px;
}

.square:hover {
  background-color: #f0f0f0;
}



.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  width: 100%;
  margin: 20px;
}

/*Animate Button, Blue Button*/

button {
  background-color: #4b4dba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
}

button:hover {
  background-color: #6364cd;
  color: white;
}

